<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ticket Online</title>
	<link rel="stylesheet" href="./vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./vendor/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="./vendor/styles/admin.css">
</head>
<body>
	<div class="menu">
		<nav class="navbar navbar-expand-sm">
			<div class="container-fluid">
				<div class="row">
					<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#menutren" aria-controls="collapsibleNavId"
						aria-expanded="false" aria-label="Toggle navigation"></button>
					<div class="collapse navbar-collapse" id="menutren">
							<a class="navbar-brand" href="#"><img src="./vendor/img/lg-white.png" alt=""></a>
						<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
							<li class="nav-item active">
								<a class="nav-link" href="./admin.html">Trang Chủ</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="./qlhx.html">Quản Lý Hãng Xe</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="./qlx.html">quản lý xe</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="./qlt.html">quản lý tuyến</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="./qllt.html">quản lý lịch trình</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./qlkh.html">quản lý khách hàng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./qlvx.html">quản lý vé xe</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./qlttdvx.html">quản lý trạng thái đặt vé</a>
                            </li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
    <!-- content -->
    <div class="col-12">
                <div class="container">
                <h2 class="pt-1">SỬA THÔNG TIN LỊCH TRÌNH</h2>
                <hr>
                <form class="form-horizontal striped-rows b-form">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="control-labelt col-md-3">ID:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="" value="1" placeholder="Mã lịch trình">
                        </div>
                    </div>
                    <!--/span-->  
                    <div class="form-group row">
                        <label class="control-label col-md-3">Tuyen:</label>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option>Chọn tuyến</option>
                                <option selected>123</option>
                                <option>456</option>
                            </select>
                        </div>
                    </div>
                    <!--/span-->  
                    <div class="form-group row">
                        <label class="control-label col-md-3">Xe:</label>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option>Chọn xe</option>
                                <option selected>67G1-51413</option>
                                <option>67G1-23067</option>
                            </select>
                        </div>
                    </div>
                    <!--/span-->  
                    <div class="form-group row">
                        <label class="control-label col-md-3">GioDi:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="" value="6:00 am" placeholder="Giờ đi">
                        </div>
                    </div>
                    <!--/span-->  
                    <div class="form-group row">
                        <label class="control-label col-md-3">GioDen:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="" value="10:00 am" placeholder="Giờ đến">
                        </div>
                    </div>
                    <!--/span-->  
                    <div class="form-group row">
                        <label class="control-label col-md-3">NgayDi:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="" value="30/11/2019" placeholder="Ngày đi">
                        </div>
                    </div>
                    <!--/span--> 
                    <div class="form-group row">
                        <label class="control-label col-md-3">MoTa:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="" value="..." placeholder="Mô tả">
                        </div>
                    </div>
                    <!--/span-->  
                    <div class="form-group row">
                        <label class="control-label col-md-3">NgayThem:</label>
                        <div class="col-md-9">
                            <input type="date" class="form-control" id="" value="30/11/2019" placeholder="Ngày thêm">
                        </div>
                    </div>
                    <!--/span-->  
                </div>
                <hr>
                <div class="form-actions">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="button" class="btn btn-info">Save</button>
                                        <a href="./qllt_detail.html"><button type="button" class="btn btn-dark">Cancel</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end content -->
       
    <!-- footer -->
	<div class="footerbot">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-4"><p>© 2019-2025 xeca.vn All Rights Reserved</p></div>
                <div class="col-sm-4 col-xs-4"></div>
                <div class="col-sm-2 col-xs-2"><img src="./vendor/img/dadangkybct.png" alt=""></div>
                <div class="col-sm-2 col-xs-2"><img src="./vendor/img/bo-cong-thuong.png" alt=""></div>
            </div>
        </div>
    </div>
    <!-- end footer -->   
	<script src="./vendor/bootstrap/bootstrap.js"></script>
    <script src="./vendor/fontawesome/fontawesome.js"></script>
    <script src="./vendor/fontawesome/solid.js"></script>
    <script src="./vendor/js/script.js"></script>
      
</body>
</html>