<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ticket Online</title>
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="assets/styles/style.css">
</head>
<body>
	<div class="bgblack">
		<div class="container">
			<div class="row">
				<div class="col-sm-6"></div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-6">
								<p>Tổng đài vé online:<a href=""> 1900 000</a></p>
						</div>
						<div class="col-sm-6">
								<p>Email:<a href=""> cskh@ltl.vn</a></p>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
	<div class="menu">
		<nav class="navbar navbar-expand-sm">
			<div class="container">
				<div class="row">
					<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#menutren" aria-controls="collapsibleNavId"
						aria-expanded="false" aria-label="Toggle navigation"></button>
					<div class="collapse navbar-collapse" id="menutren">
							<a class="navbar-brand" href="#"><img src="assets/img/lg-white.png" alt=""></a>
						<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
							<li class="nav-item active">
								<a class="nav-link" href="./index.html">Trang Chủ</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="./ticketbooking.html">đặt vé</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#cachangxe">các hãng xe</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#news">tin tức</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">về chúng tôi</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
	<!-- end menu -->
	<div class="bgmain">
		<div class="routesearch">
            <form action="" method="GET">
				<div class="booking-form">
					<label for="">Điểm đi</label>
					<input type="text" class="form-control" placeholder="Chọn nơi đi">
					<label for="">Điểm đến</label>
					<input type="text" class="form-control" placeholder="Chọn nơi đến">
					<div class="input-grp">
						<label for="">Ngày đi</label>
						<input type="date" class="form-control select-date">
					</div>
					<div class="input-grp">
						<label for="">Giờ đi</label>
						<input type="time" class="form-control select-date">
					</div>
					<div class="input-grp">
						<button type="button" class="btn btn-primary flight">Tìm vé</button>
					</div>
				</div>
			</form>
        </div>
	</div>
	<!-- end bgmain -->
	<div class="ad">
		<div class="container">
			<div class="row text-xs-center">
				<div class="col-sm-4">
					<img src="assets/img/intro-icon-car.png" alt="">
					<h3>HÃNG XE UY TÍN</h3>
					<p>XECA.VN cung cấp vé của các hãng tàu, xe uy tín, đã được thị trường công nhận.</p>
				</div>
				<div class="col-sm-4">
					<img src="assets/img/intro-icon-ghe.png" alt="">
					<h3>GIỮ CHỖ 100%</h3>
					<p>Mọi vé tàu, xe khi đặt mua qua XECA.VN sẽ luôn luôn được giữ chỗ 100%.</p>
				</div>
				<div class="col-sm-4">
					<img src="assets/img/intro-icon-bus.png" alt="">
					<h3>GIÁ VÉ RẺ NHẤT</h3>
					<p>Giá vé tại XECA.VN luôn luôn thấp hơn hoặc bằng giá vé chính hãng.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end ad -->
	
	<div class="slide" id="cachangxe">
			<div class="container mb-3">
				<div class="row">
					<div class="col-sm-12 text-xs-center">
							<h3 class="display-5">Hệ Thống Nhà Xe Uy Tín</h3>
					</div>
				</div>
				<div id="slidecus" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slidecus" data-slide-to="0" class="active"></li>
						<li data-target="#slidecus" data-slide-to="1"></li>
						<li data-target="#slidecus" data-slide-to="2"></li>
						<li data-target="#slidecus" data-slide-to="3"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<div class="row">
								<div class="col-sm-3">
									<img src="assets/img/cus1.jpg" class="img-fluid" alt="">
								</div>
								<div class="col-sm-9">
									<blockquote class="blockquote">
										<p class="mb-0">Tàu Sông Lam</p>
										<footer class="blockquote-footer"> <cite title="Source Title">Sông Lam – Tàu nằm chất lượng cao chuyên tuyến Hà Nội - Vinh và ngược lại cung cấp chỗ nằm theo số trên vé, bàn chải đánh răng, khăn lạnh, nước nóng, nhà vệ sinh. Với hệ thống cơ sở vật chất sang trọng, đẳng cấp, cùng thái độ phục vụ chuyên nghiệp, tận tình, chu đáo, Sông Lam tin tưởng mang lại cảm giác thoải mái cho khách hàng khi trải nghiệm dịch vụ của chúng tôi.</cite></footer>
									</blockquote>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-sm-3">
									<img src="assets/img/cus2.jpg" class="img-fluid" alt="">
								</div>
								<div class="col-sm-9">
									<blockquote class="blockquote">
										<p class="mb-0">Việt Khánh</p>
										<footer class="blockquote-footer"> <cite title="Source Title">Việt Khánh là thương hiệu mới xuất hiện ở tuy nhiên mỗi khi nhắc đến cái tên Việt Khánh thì khách hàng sẽ nghĩ ngay đến một hãng xe chuyên nghiệp. Bây giờ thì tiếng tăm của xe khách chất lượng cao mang thương hiệu Việt Khánh đã và đang khẳng định vị trí ở xứ Nghệ. Người ta bảo nhau tìm đến Việt Khánh, bởi nơi đây khách hàng mới thật sự được coi trọng.</cite></footer>
									</blockquote>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-sm-3">
									<img src="assets/img/cus3.jpg" class="img-fluid" alt="">
								</div>
								<div class="col-sm-9">
									<blockquote class="blockquote">
										<p class="mb-0">Minh Anh Limousine</p>
										<footer class="blockquote-footer"> <cite title="Source Title">Minh Anh Limousine chuyên cung cấp dịch vụ xe limousine 9 chỗ VIP chạy tuyến Hà Nội – Thái Nguyên, và ngược lại. Với phương châm: “Mang đến sự hài lòng cho quý khách”, Công ty chúng tôi xác định việc lắng nghe ý kiến đóng góp của khách hàng là mục tiêu hàng đầu để xây dựng và khẳng định thương hiệu của mình. Bên cạnh đó, công ty chúng tôi đã đầu tư theo hướng bài bản và chuyên nghiệp.</cite></footer>
									</blockquote>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-sm-3">
									<img src="assets/img/cus4.jpg" class="img-fluid" alt="">
								</div>
								<div class="col-sm-9">
									<blockquote class="blockquote">
										<p class="mb-0">Nhà Xe Phú Quý</p>
										<footer class="blockquote-footer"> <cite title="Source Title">Là một trong những nhà xe đã tạo được thương hiệu lâu năm tại thị trường Hà Tĩnh, nhà xe Phú Quý luôn luôn được khách hàng tin tưởng lựa chọn qua nhiều năm phục vụ. Để phục vụ nhu cầu ngày càng cao của quý khách, xe Phú Quý không ngừng đổi mới, nâng cao chất lượng phục vụ để mang lại một dịch vụ hoàn hảo. Với hệ thống 6 chiếc xe giường nằm đời mới, chất lượng cao, trang thiết bị sang trọng, hiện đại.</cite></footer>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	<!-- end slide -->
	<div class="news" id="news">
		<div class="container">
			<div class="row">
					<div class="col-sm-12 text-xs-center">
							<h3 class="display-5">Tin Tức & Sự Kiện</h3>
					</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="card" style="width: 100%;">
						<img class="card-img-top" src="assets/img/news1.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Trọn bộ cẩm nang du lịch Điện Biên 2018 từ A đến Z</h5>
							<a href="#" class="btn btn-primary">Xem Chi Tiết</a>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 100%;">
						<img class="card-img-top" src="assets/img/news2.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Review Xe Limousine Duy Khang Hà Nội Ninh Bình</h5>
							<a href="#" class="btn btn-primary">Xem Chi Tiết</a>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 100%;">
						<img class="card-img-top" src="assets/img/news3.jpg" alt="Card image cap">
						<div class="card-body">
								<h5 class="card-title">Xe Phúc Xuyên từ Vân Đồn Quảng Ninh đi Sa Pa Lào Cai</h5>
								<a href="#" class="btn btn-primary">Xem Chi Tiết</a>
							</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 100%;">
						<img class="card-img-top" src="assets/img/news4.jpg" alt="Card image cap">
						<div class="card-body">
								<h5 class="card-title">Nhà xe Hà Nội Bắc Ninh tốt nhất hiện nay</h5>
								<a href="#" class="btn btn-primary">Xem Chi Tiết</a>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end news -->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h3>về chúng tôi</h3>
					<div class="cont">
						<ul>
							<li><a href="">Về Chúng Tôi</a></li>
							<li><a href="">Tuyển Dụng</a></li>
							<li><a href="">Liên Hệ</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<h3>Hỗ trợ</h3>
					<div class="cont">
						<ul>
							<li><a href="">Quy Định</a></li>
							<li><a href="">Câu Hỏi Thường Gặp</a></li>
							<li><a href="">Chính Sách Bảo Mật</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4 contacts">
					<h3>liên hệ</h3>
					<div class="c1">Trụ sở chính</div>
					<div class="c2">
						<div><i class="fas fa-map-marker-alt"></i>	233/34/17, Nguyễn Văn Cừ, Phường An Hoà, Quận Ninh Kiều, Thành phố Cần Thơ</div>
						<div><i class="fas fa-phone"></i>	1900 0000 - 0332 566 444</div>
						<div><i class="fas fa-envelope"></i> cskh@ltl.vn</div>
					</div>
					<div class="socialcontent">
						<a class="socialitem" href=""><i class="fab fa-facebook-f"></i></a>
						<a class="socialitem" href=""><i class="fab fa-twitter"></i></a>
						<a class="socialitem" href=""><i class="fab fa-youtube"></i></a>
						<a class="socialitem" href=""><i class="fab fa-google-plus-g"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footerbot">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-4"><p>© 2019-2025 xeca.vn All Rights Reserved</p></div>
				<div class="col-sm-4 col-xs-4"></div>
				<div class="col-sm-2 col-xs-2"><img src="assets/img/dadangkybct.png" alt=""></div>
				<div class="col-sm-2 col-xs-2"><img src="assets/img/bo-cong-thuong.png" alt=""></div>
			</div>
		</div>
	</div>
	<script src="assets/bootstrap/bootstrap.js"></script>
    <script src="assets/fontawesome/fontawesome.js"></script>
    <script src="assets/fontawesome/solid.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>